@font-face {
    font-family: 'bebas';
    src: url('/css/fonts/bebasneue-webfont.eot');
    src: url('/css/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/bebasneue-webfont.woff') format('woff'),
    url('/css/fonts/bebasneue-webfont.ttf') format('truetype'),
    url('/css/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header h1 {
    top: 0;
    left: 0;
    margin: 20px;
    font-family: bebas;
    font-size: 4em;
}
body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e8;
    color: #152032;
}
header {
    position: relative;
}
header .rss {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
header > img {
    width: 100%;
    height: auto;
}
header nav, header h1 {
    position: absolute;
}
header {
    font-size: 14px;
}
header h1, header h1:before, header h1:after {
    font-weight: normal;
}
header h1:before, header h1:after {
    display: inline;
    font-size: 1.6em;
    font-family: sans-serif;
    position: relative;
    top: 0.05em;
}
header h1:before {
    content: "{";
}
header h1:after {
    content: "}";
}
header nav a, header h1 {
    text-shadow: 1px 1px 3px rgba(0,0,0,50);
}
header nav {
    right: 0;
    bottom: 0;
    margin: 20px;
    font-family: 'Scada', sans-serif;
}
#inner > header h1, #inner > header a, #inner > header a:visited {
    color: #e9e9e8;
}
header h1 a:hover {
    text-decoration: underline;
}
header a {
    text-decoration: none;
}
header nav a {
    display: block;
    transition: top 0.5s ease;
    position: relative;
    top: 0;
}
header nav a:hover {
    top: -5px;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav li {
    list-style: none;
    float: left;
    margin-right: 20px;
}
header nav li:last-child {
    margin: 0;
}
section.intro {
    width: calc(100% - 60px);
    max-width: calc(100% - 70px);
    margin-top: 30px;
}
section.intro p {
    font-family: Lora, serif;
    font-size: 1.4em;
    line-height: 1.3em;
}
section.search {
    padding-top: 60px;
}
section.search h2 {
    margin-top: 0;
}
.content, .index, .search, .tag {
    border-left: 5px solid #152032;
}
.content {
    margin: 0 0 2em 0;
}
.index, .tag, .search {
    margin: 60px 0 2em 0;
}
.index h2 {
    margin: 10px 0 0 0;
}
.index h2 a, .index h2 a:visited {
   color: #152032;
   text-decoration: none;
}
.index h3 {
    margin-top: 0;
}
.index h2 a:hover {
    text-decoration: underline;
}
.index header, .search header, .tag header, .search h3 {
    overflow: hidden; /* clearfix */
    margin-left: 20px;
}
.search h2 {
    font-size: 1.6em;
}
.search h3 {
    font-size: 1.2em;
}
#search button {
    background-color: #171f32;
    color: #E9E9E8;
    width: 90px;
}
#search input {
    border: 1px solid #171f32;
    width: calc(100% - 106px);
}
#search {
    margin-bottom: 20px;
}
#search input, #search button {
    padding: 3px 5px;
    font-size: 1em;
}
#translate label {
    font-size: 20px;
}

#translate .goog-te-combo {
    font-size: 16px;
    padding: 4px 6px;
}
header {
    position: relative;
}
/*
 * based on:
 * https://codepen.io/iamjamie/pen/wzbEXG
 *
 * converted to css using:
 * http://beautifytools.com/scss-compiler.php
 *
 */
.winter-is-coming, .snow {
    z-index: 100;
    pointer-events: none;
}
.winter-is-coming {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.snow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: falling linear infinite both;
    transform: translate3D(0, -100%, 0);
}

.snow--near {
    animation-duration: 10s;
    background-image: url("/img/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
    background-size: contain;
    height: 500px;
}

.snow--near + .snow--alt {
    animation-delay: 5s;
}

.snow--mid {
    animation-duration: 20s;
    background-image: url("/img/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
    background-size: contain;
    height: 400px;
}

.snow--mid + .snow--alt {
    animation-delay: 10s;
}

.snow--far {
    animation-duration: 30s;
    background-image: url("/img/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
    background-size: contain;
    height: 300px;
}

.snow--far + .snow--alt {
    animation-delay: 15s;
}

@keyframes falling {
    0% {
        transform: translate3D(-7.5%, -100%, 0);
    }

    100% {
        transform: translate3D(7.5%, 100%, 0);
    }
}

