#hashover {
    /* https://web.dev/content-visibility/ */
    content-visibility: auto;
    contain-intrinsic-size: 0 429px;
}
/* from user-agent h1 */
header .h {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
header .h {
    top: 0;
    left: 0;
    margin: 20px;
    font-family: bebas;
    font-size: 4em;
}
body, html {
    height: 100%;
}
footer {
    position: relative;
    z-index: 200;
}
footer p {
    margin: 0;
    text-align: center;
    font-size: 13px;
}
section .tag li > a {
    font-weight: bold;
}
footer a, footer a:visited, section a, section a:visited, #tag-cloud a, #sponsors a {
    color: #152032;
}
footer a:hover, section a:hover, #tag-cloud a:hover, #sponsors a:hover {
    color: #1520FF;
}
body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e8;
    color: #152032;
}
header {
    position: relative;
}
header > .rss, header .icons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
header a.twitter:hover path {
    fill: #1DA1F2 !important;
}
header .icons a + a {
    margin-left: 5px;
}
header > img {
    width: 100%;
    height: auto;
    display: block;
}
header nav, header .h {
    position: absolute;
}
header {
    font-size: 14px;
}
header .h, header .h:before, header .h:after {
    font-weight: normal;
}
header .h:before, header .h:after {
    display: inline;
    font-size: 1.6em;
    font-family: sans-serif;
    position: relative;
    top: 0.05em;
}
header .h:before {
    content: "{";
}
header .h:after {
    content: "}";
}
header nav a, header .h {
    text-shadow: 1px 1px 3px rgba(0,0,0,50);
}
header nav {
    left: 0;
    bottom: 0;
    margin: 20px;
    font-family: 'Scada', sans-serif;
}
#inner {
    overflow: hidden; /* clearfix */
}
#inner > header .h, #inner > header a, #inner > header a:visited {
    color: #e9e9e8;
}
header .h a:hover {
    text-decoration: underline;
}
header a {
    text-decoration: none;
}
header nav a {
    display: block;
    transition: top 0.5s ease;
    position: relative;
    top: 0;
}
header nav a:hover {
    top: -5px;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav li {
    list-style: none;
    float: left;
    margin-right: 20px;
}
header nav li:last-child {
    margin: 0;
}
section.intro {
    width: calc(100% - 60px);
    max-width: calc(100% - 70px);
    margin-top: 30px;
    background: #152032;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
section.intro p {
    font-family: 'Muli', sans-serif;
    font-size: 1.4em;
    line-height: 1.3em;
    text-indent: 0;
    margin-left: 0;
}
section.search {
    padding-top: 60px;
}
section.search h1 {
    margin-top: 0;
}
.index h2 a {
    padding: 0;
}
.content, .index, .search, .tag {
    border-left: 5px solid #152032;
}
.content {
    margin: 0 0 2em 0;
}
.index, .tag, .search {
    margin: 60px 0 2em 0;
}
.content iframe {
    /* padding-left: 20px; */
}
.tag h1, .post h1 {
    font-size: 2em;
    font-family: 'Muli', sans-serif;
}
.index h1 {
    margin: 0;
}
.index article {
    margin-bottom: 40px;
}
.index h3, .index h3 a, .index h3 a:visited {
    color: #60606d;
}
.index h1 a, .index h1 a:visited {
    color: #152032;
}
.index h3 {
    margin: 0 0 0.5em;
    font-size: 1.2em;
}
.index h1 a:hover, .index . a:hover {
    text-decoration: underline;
}
.index header, .search header, .tag header, .search h2 {
    overflow: hidden; /* clearfix */
    margin-left: 20px;
}
.search h1 {
    font-size: 1.8em;
    margin-top: 0;
}
.search h1, .search h2 {
    font-family: 'Roboto', sans-serif;
}
.search h1 {
    font-size: 1.3em;
}
.search h2 {
    font-size: 1.2em;
}
#search button {
    background-color: #171f32;
    color: #E9E9E8;
    width: 90px;
}
.tag h2 {
    font-size: 1.1em;
    margin: 0;
    display: inline-block;
}
.tag > h2 {
    margin-left: 20px;
    font-size: 1.3em;
}
.tag li {
    line-height: 1.8em;
}
#search input {
    border: 1px solid #171f32;
    width: calc(100% - 106px);
}
#search {
    margin-bottom: 20px;
}
#search input, #search button {
    padding: 3px 5px;
    font-size: 1em;
}
#translate label {
    font-size: 20px;
}

#translate .goog-te-combo {
    font-size: 16px;
    padding: 4px 6px;
}
header {
    position: relative;
}
.meta {
    padding: 40px 0 1em 0;
}
.meta img {
    width: 100%;
    height: auto;
}
.meta .attribution {
    margin: 0;
}
.meta .attribution, section p img + em, section p img + small {
    font-size: 12px;
}
.meta .attribution,
.meta .attribution a,
.meta .attribution:visited,
section p img + em,
section p img + small,
section p img + small a,
section p img + small a:visited,
section p img + em a,
section p img + em a:visited {
    color: #555;
}
.a, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}
.meta .a, .index h3 {
    font-weight: normal;
}
.meta h1, .index h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}
.meta h1 {
    margin: 0 0 1em 0;
}
.meta h1, .meta .a {
    text-align: right;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: 1em;
}
.meta .a {
    margin: 0;
    font-size: 1.1em;
    font-style: italic;
}
.meta {
    margin: 0 1em;
}
section {
    width: calc(100% - 380px);
    margin: 0 20px 0 40px;
    max-width: 800px;
}
section, aside {
    float: left;
}
aside {
    width: 300px;
    margin-right: 10px;
    padding: 60px 0;
    box-sizing: border-box;
}
aside.sticky {
    position: fixed;
    bottom: 0;
    left: 860px; /* section width + margin */
    padding-bottom: 80px;
}
section > p {
    text-align: justify;
    text-indent: 2em;
}
figure {
    margin: 0;
}
.cookie-baner {
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 300;
    background: white;
}
.cookie-baner .btn {
    margin-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (max-width: 850px) {
    #inner > header {
        font-size: 13px;
    }
}
@media (max-width: 850px) {
    #inner > header {
        font-size: 13px;
    }
    section.intro {
        width: 100%;
        max-width: 100%;
        padding-right: 20px;
        border-radius: 0;
        margin-top: 0;
    }
    section {
        width: 100%;
        margin: 0;
        padding-right: 0;
        box-sizing: border-box;
    }
    aside {
        display: none;
    }
    .content {
        margin: 0 1em 2em 1em;
    }
    .meta {
        margin: 0 1em;
    }
    .index {
        margin: 60px 1em 2em 1em;
    }
}
@media (max-width: 790px) {
    #inner > header {
        font-size: 12px;
    }
}
@media (max-width: 700px) {
    #inner > header {
        font-size: 11px;
    }
}
@media (max-width: 650px) {
    #inner > header {
        font-size: 10px;
    }
    a {
        padding: 6px;
    }
    #inner > header > img {
        height: 200px;
        width: auto;
    }
    #inner > header .h {
        right: 0;
        text-align: center;
    }
}
@media (max-width: 340px) {
    header .h {
        text-indent: -2.8em;
        margin-left: 1.2em;
        line-height: 1em;
        width: 200px;
        margin: 20px auto;
    }
    header .h::after, header .h::before {
        font-size: 2.4em;
    }
    header .h::after {
        top: -0.2em;
        margin-left: 4px;
    }
    header .h::before {
        top: 0.4em;
    }
    header .h a {
        padding-left: 8px;
        display: inline;
    }
}
@media (max-width: 320px) {
    #inner > header > img {
        margin-left: -10em;
    }
    .meta h1, .index h2 {
        font-size: 1.3em;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2b2b2b;
        color: #797979;
    }
    #search input {
        background-color: #2b2b2b;
        border-color: #797979;
        color: #797979;
    }
    footer a, footer a:visited, section a, section a:visited, #tag-cloud a, #sponsors a, .cookie-baner a {
        color: #776e8e;
    }
    .cookie-baner {
        background-color: #333333;
    }
    .content, .index, .search, .tag {
        border-color: #797979;
    }
    section.intro {
        background: #393a3c;
        color: #afafaf;
    }
    #search button {
        background-color: #393a3c;
        color: #afafaf;
    }
}
