---
layout: default
sitemap:
    changefreq: weekly
---
{% if paginator.page == 1 %}
<section class="intro">
    <p>
      Nazywam się Jakub Jankiewicz jestem programistą, ostanio w pracy głównie zajmuję się Front-Endem, ale
      w czasie wolnym piszę także w PHP oraz skrypty w Pythonie.</p>
    <p>
      Tematyką mojego bloga &bdquo;Głównie JavaScript&rdquo; jest Front-End czyli także CSS, ale głównym
      tematem jest JavaScript. Na blogu mogą się także pojawiać wpisy z technologii Back-Endowych, tych
      które znam i w których piszę czyli Python oraz PHP.</p>
    <p>
      Na blogu mogą się także pojawić informacje zwiazane z aplikacjami internetowymi jak i z samym Internetem.
    </p>
</section>
{% endif %}
<section>
    <div class="index">
        {% for post in paginator.posts %}
        <article>
            <header>
                {% assign author = site.users[post.author] %}
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <h3>
                    <time datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S.%L%z' }}">
                        {{ post.date | date: "%Y-%m-%d" }}
                    </time>
                    by
                    {% if author.url %}
                    <a href="{{ author.url }}">{{ author.name }}</a>
                    {% else %}
                    <span>{{ author.name }}</span>
                    {% endif %}
                </h3>
            </header>
            <div class="excerpt">
              {{ post.content | split: '<!-- more -->' | first }}
            </div>
            {% if page.tags %}
            <ul class="tags">
                {% for tag in page.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </article>
        {% endfor %}
        <div class="pagination">
            <ul>
                {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                <li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Poprzednia</a></li>
                {% else %}
                <li><a href="{{ '/page' | prepend: site.baseurl | prepend: site.url }}{{ paginator.previous_page }}/">Poprzednia</a></li>
                {% endif %}
                {% else %}
                <li><span class="disabled">Poprzednia</span></li>
                {% endif %}
                {% if paginator.page == 1 %}
                <li><span class="active">1</span></li>
                {% else %}
                <li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}/">1</a></li>
                {% endif %}
                {% for count in (2..paginator.total_pages) %}
                {% if count == paginator.page %}
                <li><span class="active">{{ count }}</span></li>
                {% else %}
                <li><a href="{{ '/page' | prepend: site.baseurl | prepend: site.url }}{{ count }}/">{{ count }}</a></li>
                {% endif %}
                {% endfor %}
                {% if paginator.next_page %}
                <li><a href="{{ '/page' | prepend: site.baseurl | prepend: site.url }}{{ paginator.next_page }}/">Następna</a></li>
                {% else %}
                <li><span class="disabled">Następna</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
