<header>
  <img src="{{ "/img/background.jpg" | prepend: site.baseurl | prepend: site.url }}" alt="Computer Keyboard - {{ site.title }}"/>
    <!--
    <img src="{{ "/img/easter-background-vignette.jpg" | prepend: site.baseurl | prepend: site.url }}" alt="Jajka wielkanocne (pisanki) na sianku w trawie - {{ site.title }}"/>
     -->
    {% if paginator.next_page %}
    <h1 class="h"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>
    {% else %}
    <div class="h"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></div>
    {% endif %}
    {% assign pages = site.pages.select {|p| p.title } %}
    {% if pages %}
    <nav>
        <ul>
        {% for page in pages %}
          <li><a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    </nav>
    {% endif %}
    <a class="rss" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" title="rss feed">
      <img src="{{ '/img/rss.png' | prepend: site.baseurl | prepend: site.url }}" alt="rss feed icon"/>
    </a>
    <!-- TODO: włączyć w Grudniu
    <div class="winter-is-coming">
        <div class="snow snow--near"></div>
        <div class="snow snow--near snow--alt"></div>

        <div class="snow snow--mid"></div>
        <div class="snow snow--mid snow--alt"></div>

        <div class="snow snow--far"></div>
        <div class="snow snow--far snow--alt"></div>
    </div>
    -->
</header>
