<!DOCTYPE html>
<head lang="pl">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | Blog głównie o Front-Endzie{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
    <link rel="shortcut icon" href="{{ '/favicon/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/favicon/apple-touch-icon-57x57.png' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/favicon/apple-touch-icon-114x114.png' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/favicon/apple-touch-icon-72x72.png' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/favicon/apple-touch-icon-144x144.png' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ '/favicon/apple-touch-icon-60x60.png' | prepend: site.baseurl | prepend: sixte.url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/favicon/apple-touch-icon-120x120.png' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/favicon/apple-touch-icon-76x76.png' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/favicon/apple-touch-icon-152x152.png' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{ '/favicon/favicon-196x196.png' | prepend: site.baseurl | prepend: site.url }}" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ '/favicon/favicon-160x160.png' | prepend: site.baseurl | prepend: site.url }}" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ '/favicon/favicon-96x96.png' | prepend: site.baseurl | prepend: site.url }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ '/favicon/favicon-16x16.png' | prepend: site.baseurl | prepend: site.url }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ '/favicon/favicon-32x32.png' | prepend: site.baseurl | prepend: site.url }}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#152032">
    <meta name="msapplication-TileImage" content="{{ '/favicon/mstile-144x144.png' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="msapplication-config" content="{{ '/favicon/browserconfig.xml' | prepend: site.baseurl | prepend: site.url }}">
    <!--[if IE]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,700|Roboto:500&amp;subset=latin,latin-ext&display=swap" rel="stylesheet"/>
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link rel="stylesheet" href="{{ "/css/base.css" | prepend: site.baseurl | prepend: site.url }}"/>
    <!--<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl | prepend: site.url }}"/>-->
    <link rel="alternate" type="application/rss+xml" title="Głównie JavaScript - RSS" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"/>

    <!-- meta tags -->
    <!-- based on https://github.com/mmistakes/hpstr-jekyll-theme/blob/master/_includes/head.html -->
    <meta property="og:locale" content="pl_PL"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:image" content="{% if page.image %}{{ page.image.url | prepend: site.baseurl | prepend: site.url }}{% else %}{{ '/img/background.jpg' | prepend: site.baseurl | prepend: site.url }}{% endif %}"/>
    {% if page.image.width %}
    <meta property="og:image:width" content="{{page.image.width}}"/>
    {% endif %}
    {% if page.image.height %}
    <meta property="og:image:height" content="{{page.image.height}}"/>
    {% endif %}
    <meta name="twitter:image" content="{% if page.image %}{{ page.image.url | prepend: site.baseurl | prepend: site.url }}{% else %}{{ '/img/background.jpg' | prepend: site.baseurl | prepend: site.url }}{% endif %}"/>
    <meta name="twitter:image:alt" content="{% if page.image %}{{ page.image.alt }}{% else %}Klawiatura laptopa{% endif %}"/>
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@{{ site.twitter }}"/>
    <meta name="twitter:creator" content="@{% if page.author && site.users[page.author].twitter %}{{ site.users[page.author].twitter }}{% else %}{{ site.twitter }}{% endif %}"/>
    <link rel="preload" href="{{ '/img/rss.png' | prepend: site.baseurl | prepend: site.url }}" as="image" />
    <!--<link rel="preload" href="{{ "/img/easter-background-vignette.jpg" | prepend: site.baseurl | prepend: site.url }}" as="image" />-->
    <link rel="preload" href="{{ "/img/background.jpg" | prepend: site.baseurl | prepend: site.url }}" as="image" />
    {% if page.image %}
    <link rel="preload" href="{{ page.image.url | prepend: site.baseurl | prepend: site.url }}" as="image" />
    {% endif %}
    <link rel="preconnect" href="https://www.facebook.com"/>
    <link rel="preconnect" href="https://pagead2.googlesyndication.com"/>
    <link rel="preconnect" href="https://piwik.jcubic.pl"/>
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <link rel="prev" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" />
    {% else %}
    <link rel="prev" href="{{ '/page' | prepend: site.baseurl | prepend: site.url }}{{ paginator.previous_page }}/" />
    {% endif %}
    {% endif %}
    {% if paginator.next_page %}
    <link rel="next" href="{{ '/page' | prepend: site.baseurl | prepend: site.url }}{{ paginator.next_page }}/"/>
    {% endif %}
    {% if page.is_post %}
    <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/"/>
    <meta name="DC.license" content="https://creativecommons.org/licenses/by-sa/4.0/"/>
    <meta name="DC.created" content="{{ page.date }}"/>
    <meta name="DC.creator" content="{% if page.author %}{{ site.users[page.author].name }}{% else %}Jakub Jankiewicz{% endif %}"/>
    {% if page.sitemap.lastmod %}
    <meta name="DC.modified" content="{{ page.sitemap.lastmod }}"/>
    {% endif %}
    <script type="application/ld+json">
     {
         "@context": "http://schema.org",
         "@type": "BlogPosting",
         "datePublished": "{{ page.date }}",
         "publisher": {
             "@type": "Organization",
             "name": "{{ site.title }}",
             "logo": {
                 "@type": "ImageObject",
                 "url": "{{ site.logo.url | prepend: site.baseurl | prepend: site.url }}"
             }
         },
         "author": {
             "@type": "Person",
             "name": "{{ site.users[page.author].name }}"
         },{% if page.sitemap %}
         "dateModified": "{{ page.sitemap.lastmod }}",{% endif %}
         "headline": "{{ page.title }}",{% if page.image %}
         "image": {
             "@type": "ImageObject",
             "url": "{{ page.image.url | prepend: site.baseurl | prepend: site.url }}"{% if page.image.width %},
             "width": {{ page.image.width }}{% endif %}{% if page.image.height %},
             "height": {{ page.image.height }}{% endif %}
         }{% else %}
         "image": {
             "@type": "ImageObject",
             "url": "{{ site.image.url | prepend: site.baseurl | prepend: site.url }}",
             "width": {{ site.image.width }},
             "height": {{ site.image.height }}
         }{% endif %},
         "description": "{{ page.description }}",
         "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "https://google.com/article"
         }
     }
    </script>
    {% endif %}
    <meta name="generator" content="Jekyll {{ jekyll.version }}"/>
</head>
