<div id="sidebar">
    <div id="facebook">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fglowniejavascript&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;"></iframe>
    </div>
    <div class="twitter">
      <a href="https://twitter.com/jcubic?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="en" data-show-count="true">Follow @jcubic</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div id="freebasel">
        <iframe src="http://bassel.jcubic.pl/badge.php" width="300" height="170" style="border: 1px solid black"></iframe>
    </div>
    <div id="tag-cloud">
      {{ site | tag_cloud }}
    </div>
    <div id="ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- jcubic.pl -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-6153701670678834"
             data-ad-slot="4557201505"></ins>
        <script type="text/javascript">
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
