<div id="sidebar">
    <div id="facebook">
      <!--
      <div id="fb-root"></div>
      <script type="text/javascript">
       (function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.0&appId=189968458392836&autoLogAppEvents=1';
           fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-page" data-href="https://www.facebook.com/glowniejavascript/" data-height="240" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/glowniejavascript/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/glowniejavascript/">Głównie JavaScript</a></blockquote></div>
      -->
      <iframe name="f1e31f1905d0e3" width="1000px" height="234px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v3.0/plugins/page.php?adapt_container_width=true&amp;app_id=189968458392836&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FEIL5DcDc3Zh.js%3Fversion%3D42%23cb%3Df1758ee2ebe193c%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%252Ff461792fb8fafc%26relation%3Dparent.parent&amp;container_width=300&amp;height=240&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fglowniejavascript%2F&amp;locale=pl_PL&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false" style="border: none; visibility: visible; width: 300px; height: 234px" class=""></iframe>
    </div>
    <div class="twitter">
      <a href="https://twitter.com/jcubic?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="en" data-show-count="true">Follow @jcubic</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div id="tag-cloud">
      {{ site | tag_cloud }}
    </div>
    {% if site.related %}
    <div class="related">
      <p>Zobacz blogi po podobnej tematyce:</p>
      <ul>
        {% for blog in site.related %}
        <li><a href="{{ blog.url }}"{% if blog.title %} title="{{ blog.title }}"{% endif %}>{{blog.text}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div id="ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- jcubic.pl -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-6153701670678834"
             data-ad-slot="4557201505"></ins>
        <script type="text/javascript">
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
