<div id="sidebar">
    <div id="search">
        <form action="/search.php">
            <input name="q" placeholder="text do wyszukania"/>
            <button>wyszukaj</button>
        </form>
    </div>
    <div id="translate">
      <label>Translate:</label>
      <div id="google_translate_element"></div>
      <script type="text/javascript">
       function googleTranslateElementInit() {
         new google.translate.TranslateElement({pageLanguage: 'pl'}, 'google_translate_element');
       }
      </script>
      <script defer async type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    <div id="tag-cloud">
      {{ site | tag_cloud }}
    </div>
    <div id="sponsors">
      {% if paginator.next_page == 2 %}
      <a title="Katalog-blogow.pl - Katalog Blogów Polskiej Blogosfery" href="http://katalog-blogow.pl/" target="_blank" data-wpel-link="internal">Katalog-Blogow.pl</a>
      <!-- kod zBLOGowani.pl -->
      <div style="text-align: center;margin: 20px 0;padding: 0">
        <a target="_blank" href="https://zblogowani.pl/" title="Sprawdź serwis zBLOGowani.pl!">
          <img src="//zblogowani.pl/code/160x50/blue/342587/btn.png" alt="zBLOGowani.pl">
        </a>
      </div>
      <!-- koniec kodu zBLOGowani.pl -->
      {% endif %}
      <a href="http://www.frontend-con.io/">
        <img src="{{ '/img/front-end-logo.png' | prepend: site.baseurl | prepend: site.url }}"/>
      </a>
    </div>
    <div id="facebook">
      <div class="fb-page" data-href="https://www.facebook.com/glowniejavascript/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/glowniejavascript/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/glowniejavascript/">Głównie JavaScript</a></blockquote></div>
    </div>
    <div class="twitter">
    </div>
    <div id="ads">
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-6153701670678834"
             data-ad-slot="4557201505"></ins>
        <script type="text/javascript">
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
