---
layout: default
---
<section>
    <div class="meta">
        {% assign author = site.users[page.author] %}
        <h3>
            <time itemprop="pubdate" datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S.%L%z' }}">
                {{ page.date | date: "%Y-%m-%d" }}
            </time>
            by
            <span itemscope itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Jakub Jankiewicz"/>
                <meta itemprop="alternateName" content="jcubic"/>
                <a href="{{ author.url }}" itemprop="url">{{ author.name }}</a>
                <meta itemprop="jobTitle" content="Front-End Developer"/>
            </span>
        </h3>
        <h2 itemprop="title">{{ page.title }}</h2>
        {% if page.image %}
        <figure>
            <img src="{{ page.image.url | prepend: site.baseurl | prepend: site.url }}" alt="{{ page.image.alt }}"/>
            {% if page.image.attribution %}
            <figcaption class="attribution">
                {{ page.image.attribution | markdownify | remove: '<p>' | remove: '</p>' }}
            </figcaption>
            {% endif %}
        </figure>
        {% endif %}
    </div>
    <div class="content">
        <div class="body">
            {% if page.noads %}
              {{content}}
            {% else %}
              {% assign splitted = content | split: '<!-- more -->' %}
              {{ splitted | first }}
              <div class="ads">
                  <ins class="adsbygoogle"
                       style="display:block; text-align:center;"
                       data-ad-layout="in-article"
                       data-ad-format="fluid"
                       data-ad-client="ca-pub-6153701670678834"
                       data-ad-slot="3082200741"></ins>
                  <script type="text/javascript">
                   (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
              </div>
              {{ splitted[1] }}
            {% endif %}
        </div>
        <div class="related">
            {% if page.related %}
            <p>Zobacz też:</p>
            <ul>
                {% for page in page.related %}
                <li><a href="{{page.url}}">{{page.name}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if site.related %}
            <p>{% if page.related %}Oraz {% else %}Zobacz też {% endif %}Blogi o podobnej tematyce:</p>
            <ul>
                {% for blog in site.related %}
                <li><a href="{{ blog.url }}"{% if blog.title %} title="{{ blog.title }}"{% endif %}>{{blog.text}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if page.tags %}
        <ul class="tags">
            {% for tag in page.tags %}
            <li><a href="/tag/{{tag | downcase | url_encode}}/">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="source">
            <a href="{{ page.path | prepend: site.source_url}}">
                źródło strony
            </a> (aby zobaczyć kod na GitHubie, musisz kliknąć przycisk raw)
        </div>
        <div class="share">
            {% if jekyll.environment == "production" %}
            <div class="twitter">
                <iframe src="https://img.shields.io/twitter/url/{{ page.url | prepend: site.baseurl | prepend: site.url | replace: 'https://', 'https/' | replace: 'http://', 'http/' }}.svg?label=Udostępnij&style=social" style="border:none; width:87px;height: 20px"></iframe>
            </div>
            <div class="twitter twitter-follow">
                <iframe src="https://img.shields.io/twitter/follow/jcubic.svg?label=Obserwuj%20@jcubic"
                        style="border:none; width:160px;height: 20px"></iframe>
            </div>
            <div class="linkedin">
              <!-- Sharingbutton LinkedIn -->
              <a class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&title={% if page.title %}{{ page.title | url_encode }}{% else %}{{ site.title | url_encode }}{% endif %}&summary={% if page.description %}{{ page.description | url_encode }}{% else %}{{ site.description | url_encode }}{% endif %}&source=https%3A%2F%2Fjcubic.pl" target="_blank" rel="noopener" aria-label="LinkedIn">
                <span class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--medium">
                  <span aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 1em; height: 1em">
                      <path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"/></svg>
                  </span>
                  Udostępnij
                </span>
              </a>
            </div>
            <div id="facebook-share" class="share-button hidden">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="_1pbq" color="#ffffff" style="width:16px; height:16px">
                        <path fill="#ffffff" fill-rule="evenodd" d="M8 14H3.667C2.733 13.9 2 13.167 2 12.233V3.667A1.65 1.65 0 0 1 3.667 2h8.666A1.65 1.65 0 0 1 14 3.667v8.566c0 .934-.733 1.667-1.667 1.767H10v-3.967h1.3l.7-2.066h-2V6.933c0-.466.167-.9.867-.9H12v-1.8c.033 0-.933-.266-1.533-.266-1.267 0-2.434.7-2.467 2.133v1.867H6v2.066h2V14z"></path></svg>
                </div>
                <div class="label">
                    Udostępnij
                </div>
            </div>
            <iframe src="//www.facebook.com/plugins/like.php?href={{ page.url | prepend: site.baseurl | prepend: site.url | cgi_escape }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px; width: 150px"></iframe>
            <script type="text/javascript">
             var button = document.getElementById('facebook-share');
             button.classList.remove('hidden');
             button.addEventListener('click', function(e) {
                 var location = window.location.href.replace('?' + window.location.search, '');
                 var url = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(location);
                 window.open(url, "pop", "width=600, height=400, scrollbars=no");
             });
            </script>
            {% endif %}
        </div>
        <h5>Komentarze</h5>
        <p>
          Hasło, które podasz umożliwi ponowne zalogowanie się i np. usunięcie komentarza, jest dobrowolne. Email jest szyfrowany i używany do wysyłania powiadomień o odpowiedziach do komentarzy oraz do pobierania awatara dzięki usłudze <a href="https://pl.gravatar.com/">Gravatar.com</a>.
        </p>
        {% if jekyll.environment == "production" %}
        <script type="text/javascript"
                src="/hashover-next/hashover/comments.php"></script>
        <noscript>You must have JavaScript enabled to use the comments.</noscript>
        {% endif %}
    </div>
</section>
